* {
    margin: 0;
    padding:0;
}

html, body {
    height: 100%;
}

.pagelayout{
    margin:auto;
    position: relative;
    width:100%;
}

body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

header{
    height: 4em;
    background-color: lightcoral;
}

.wrapper{
    overflow: hidden;
    min-height: 1%;
}
.login-area{
width: 300px;
float :right;
}

#rightSideContainer{
  width:37%;
}
.search{
  padding-left: 15px;
}
#search{
    padding-left: 10px;
    color: white;
    font-color:black;
}
.search-wrapper{
    display: inline;
}
.header-container{
height: 4em;
}
.username{
    color: darkgrey;
    font-size:10px;
    min-width: 7em;
}
.time{
    color: darkgrey;
    font-size:10px;
    min-width: 7em;
}
.share{
    color: darkgrey;
    font-size:10px;
    min-width: 7em;
}
.pages{

    background: lightgrey;

}
.pagetitle{
    display: inline;
        padding: 3em;
}
.pagetitle img{
    border-radius: 41px;
    width:50px;
    margin: 5px;
}
.title{
    height:58px;
    margin:0em;
    width:7em;
    margin-left:4em
}
.subtitles{
    display:inline-flex;
}
ul.menu{
    list-style-type: none;
    margin-top: -29px;
    margin-right: 12em;
    padding: 0;
    overflow: hidden;
    display: flex;
    float:right;
    width:16em;
}


.contentDivImg{
    display: none;
}

ul.menu li{
    margin-left: 1em;
}

main{
    height:60%;
    flex: 1 0 auto;

}
.pagination li {
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 10px;
    line-height: 30px;
    border-radius: 196px;
    text-align: center;
    font-size: large;
    margin: 1.5%;
    margin-left: 2%
}
div.tabs{
    position: absolute;
    margin-top: 2em;
    width:45em;
    margin-left: 1em
}
div.tabs a{
    padding: 1em;
    color:#d1cea9;
}

.line{
width:44em;
margin:3em -16em;

}
.main-container{
    margin: 24px;
}
.postsContainer{
    margin: auto;
    height:50em;
    width:51em;
    padding-top:6em;
}
.postname{
    font-size: 18px;
    color:midnightblue;
    margin:1em 0em 0em 0em;
    font-family: initial;
}
.posting-area{
    width: auto;
    height:auto;
}
.modal{
    position: fixed;
    left: 40%;
    right:50%;
    background-color: #fafafa;
    padding: 0;
    max-height: 100%;
    width: 25%;
    overflow-y: auto;
    border-radius: 9px;
    will-change: top, opacity;
}
div#modal1.modal{
    min-height: 79%;
    width: 34%;
}
.rank{
    width: 5px;
    float: left;
}
#checkbox{
    position:static;
    visibility: visible;
}
.votes{
    float: left;
    margin-right: 1em;
    margin-left: 0em;
    overflow: hidden;
    border-radius:4px;
    margin-top: 1%;
    }
    .votesNum{
        color: chocolate;
        font-size: 15px;
    }
    .image{
        width:200px;
 }
 i{
    cursor:pointer ;
 }
 .play{
    font-size:15px;
    color:lightgrey;
 }
 .pause{
  font-size:15px;
    color:lightgrey;
 }
    .postimage{
    display: table-cell;
    text-align:left;
    vertical-align: top;
    border-radius: 1em;
    margin-top: 6px;
     width:70px;
     height:60px;
    }
    .Content-List {
    overflow: hidden;
    margin-left: 9em;
    margin-top: -5em;
    opacity: 1;
    padding: 0em 1em;
}
#numbering{
    margin-top: 27px;
}
.postContent
{
    margin: 1em 1em 0em;
    padding: 0em 1em;
    float: left;
    width:45em;
    min-height:5em;
    overflow: hidden;
}

.voteUpButton{
  cursor: pointer;
}

.voteDownButton{
  cursor: pointer;
}

.post-meta-icon{
        text-transform: uppercase;
    letter-spacing: 0.02em;
    color:lightgrey;
}
.pagination{
    width: 40em;
    margin-right: 2%;
    padding-left: 54px;
}


footer {
 position:relative;
 bottom:0;
 background-color:rgba(17, 18, 23, 0.68);
}
